html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
}

.container {
	max-width: 1056px;
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.page-section-header {
	position: relative;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 500;
}

.page-section-header:after {
	content: '';
	position: absolute;
	width: 320px;
	height: 7px;
	left: 0;
	bottom: -10px;
	background-color: #27c7ab;
}

/*----------------------------------------------PAGE-HEADER-----------------------------------------------*/

.page-header {
	background: #000;
	color: #fff;
	font-size: 1.4rem;
}

.page-header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.page-header span {
	color: #27c7ab;
	font-weight: bolder;
}

/* MENU */

.menu-items li {
	display: inline-block;
	padding: 10px;
	margin-left: 20px;
}

.menu-items li a {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	transition: .2s;
}

.menu-items li a:hover {
	color: #27c7ab;
}

/* SUBMENU */

.submenu {
	position: absolute;
	min-width: 100px;
	padding-top: 20px;
	z-index: 2;
	margin-left: -36px;
	text-align: center;
	display: none;
}

.submenu > li:first-child {
	position: relative;
}

.submenu > li:first-child::before {
	content: '';
	position: absolute;
	top: -7px;
	margin-left: 28px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #000;
}

.menu > li:hover .submenu {
	display: block;
}

.submenu > li {
	display: block;
	background: #000;
	text-transform: none;
	padding: 6px 10px;
	transition: all .2s ease-in-out;
}

.submenu > li:hover {
	background: #363636;
}

.submenu > li a {
	font-weight: 300;
}


/*
show submenu - simple way only css without js
.menu-items > li:hover > ul {
	display: block;
}
*/

/* HAMBURGER MENU */

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

/*----------------------------------------------PAGE-SLIDER-----------------------------------------------*/

.page-slider {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+57,e4e2e7+79,d1ced7+98,c5c7ce+100 */
	background: #f7f7f7;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c5c7ce', GradientType=0);
	/* IE6-9 */
}

.page-slider > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	position: relative;
	min-height: 450px;

}

#page-slider-images {
	position: relative;
	left: -50px;
}

#page-slider-images img {
	width: 90%;
}

.page-slider-text {
	text-align: center;
	width: 40%;
	position: relative;
	left: -50px;
	margin-bottom: 30px;
}

.page-slider-text h1 {
	font-size: 3.0rem;
	text-transform: uppercase;
	font-weight: 600;

}

.page-slider-text span {
	font-weight: 800;
	color: #27c7ab;
}

.page-slider-text p {
	font-size: 1.4rem;
	400;
	line-height: 20px;
	word-spacing: 3px;
	padding: 15px 0px 30px 0px;

}

.page-slider-button {
	text-transform: uppercase;
	background-color: #27c7ab;
	color: #fff;
	font-size: 1.6rem;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	padding: 8px 24px;
	word-spacing: 3px;
	transition: .2s;
}

.page-slider-button:hover {
	opacity: .7;
}

.page-slider-arrow-left a {
	position: absolute;
	left: 15px;
	top: 180px;
	font-size: 6.0rem;
	font-weight: 300;
	color: #27c7ab;
}

.page-slider-arrow-right a {
	position: absolute;
	right: 15px;
	top: 180px;
	font-size: 6.0rem;
	font-weight: 300;
	color: #27c7ab;
}


/*----------------------------------------------PAGE-GALLERY----------------------------------------------*/

.page-gallery > .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box {
	width: 32%;
	margin: 25px 0 60px;
	position: relative;
	background-size: cover;
}

.box:first-child {
	background-image: url(../img/box1_img.jpg);
	margin-right: 20px;
	min-width: 329px;
	min-height: 225px;
	flex-grow: 1;
}

.box:nth-child(2) {
	background-image: url(../img/box2_img.jpg);
	margin-right: 20px;
	min-width: 329px;
	min-height: 225px;
	flex-grow: 1;
}

.box:last-child {
	border: 1px solid #dadada;
	padding: 20px;
	min-width: 329px;
	min-height: 225px;
	flex-grow: 1;
}

.box > div {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .45);
	height: 65px;
	bottom: 15px;
	padding: 16px 16px 0 16px;
	transition: .3s;
}

.box span {
	position: relative;
	font-weight: 700;
	font-size: 1.5rem;
}

.box span:after {
	content: '';
	background-color: #25c5a9;
	width: 130px;
	height: 6px;
	left: 0;
	bottom: -7px;
	position: absolute;
}

.box p {
	font-weight: 400;
	line-height: 18px;
	word-spacing: 1px;
	text-align: justify;
	margin-top: 25px;
}

/* simple way to hide text on photos with transition without js*/

.box:hover > div {
	opacity: 0;
}

/*------------------------------------------PAGE-SECTION-OFFERTS------------------------------------------*/

.page-section-offerts {
	background-color: #f1f1f1;
	padding: 10px 0;
	height: 725px;
}

.page-section-offerts > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	/*	flex-wrap: wrap;*/
	position: relative;
}

.box-offerts {
	height: 500px;
	width: 32%;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	position: relative;
	text-align: center;
	margin: 120px 20px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.box-offerts:last-child {
	margin-right: 0px;
}

.box-offerts:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: -28px;
	margin-left: -25px;
	border: 1px solid #bdbdbd;
	background: #fff;
	border-radius: 50%;
}

.box-offerts:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 50%;
	top: -15px;
	margin-left: -12px;
	background: #bdbdbd;
	border-radius: 50%;
}

/*page-section-header \/ */

.page-section-offerts h3 {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.8rem;
	top: 30px;
	left: 0;
}

.page-section-offerts h4 {
	text-transform: uppercase;
	font-size: 2.0rem;
	font-weight: 600;
	color: #25c5a9;
	margin-top: 30px;
}

.box-offerts-circle {
	background: #fff;
	width: 130px;
	height: 130px;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	padding-top: 25px;
	margin: 30px 0 35px 0;
}

.box-offerts-circle em {
	color: #bdbdbd;
	font-size: 4.0rem;
	font-style: normal;
	font-weight: 700;
}

.box-offerts-circle em sup {
	font-size: 1.4rem;
	vertical-align: super;
	font-weight: 700;
}

.box-offerts-circle span {
	color: #bdbdbd;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box-offerts p {
	background: #e4e4e4;
	color: #919191;
	font-size: 2.0rem;
	padding: 10px;
	width: 99.9%;

}

.box-offerts p:nth-child(even) {
	background: #f1f1f1;
	color: #777777;
}

.box-offerts a {
	background-color: #24ba9f;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #fff;
	position: absolute;
	bottom: 20px;
}

.page-section-offerts *,
.box-offerts:before,
.box-offerts:after {
	transition: all .3s ease-in-out;
}

/*--------------------------------------Hover effect on .box-offerts-------------------------------------*/

.box-offerts:hover,
.box-offerts:hover::before {
	background: #27c7ab;
	border: .5px solid #27c7ab;
}

.box-offerts:hover::after,
.box-offerts:hover a {
	background: #fff;
	color: #24ba9f;
}

.box-offerts:hover h4 {
	color: #fff;
}

.box-offerts:hover .box-offerts-circle em {
	color: #27c7ab;
}

.box-offerts:hover .box-offerts-circle span {
	color: #27c7ab;
}

.box-offerts:hover p {
	background: #fff;
	color: #777777;
}

.box-offerts:hover p:nth-child(even) {
	background: #f1f1f1;
	color: #777777;
}

/*********************************************** APLIKACJA ******************************************/

.page-calculator {
	background-color: #fff;
	padding: 30px 0;
	/*	font-family: Arial,
	Verdana,
	sans-serif;*/
	box-sizing: initial;
}

.inline {
	display: inline-block;
	width: 300px;
	padding: 14px;
	vertical-align: top;
}

.page-calculator > .container {
	display: flex;
	justify-content: space-around;
}

.form {
	margin-top: 50px;
}

.drop_down_list {
	border: 1px solid #8de0d2;
	width: 320px;
	height: 38px;
	background-color: #f5f6f4;
	margin-top: 22px;
	padding: 6px 12px;
	position: relative;
}

.list_label {
	font-size: 2.2rem;
	line-height: 35px;
	color: #b2b2b2;
	/*	font-family: Arial,
	Tahoma,
	sans-serif;*/
}


.checkbox {
	position: relative;
	padding: 30px 30px 30px 0;
}

.checkbox input {
	display: block;
	opacity: 0;
	height: 48px;
	position: absolute;
	width: 48px;
	cursor: pointer;
}

.checkbox label {
	display: block;
	padding-left: 65px;
	position: relative;
	font-size: 2rem;
	color: #cecece;
	line-height: 120%;
	padding-top: 10px;
	cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
	border: 1px solid #27c7ab;
	content: "";
	display: block;
	left: 0;
	height: 40px;
	position: absolute;
	width: 40px;
	top: 0;
}

.checkbox label::after {
	background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
	border: 0;
	display: none;
}

.checkbox input:checked + label::after {
	display: block;
}


.active {
	background: url('../img/form_ok.jpg');
	width: 48px;
	height: 40px;
}

.inline_text {
	display: inline-block;
	width: 228px;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 15px;
	color: #aeaeae;
}

.summary_panel {
	background-color: #f5f6f4;
	width: 100%;
	height: 195px;
	padding: 10px;
	margin-top: 50px;

}

.page-calculator .green_button {
	text-transform: uppercase;
	background-color: #27c7ab;
	color: #fff;
	font-size: 2.2rem;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 29px;
	border-radius: 8px;
	border: none;
	padding: 8px 24px;
	word-spacing: 3px;
	width: 200px;
	padding: 10px 30px;
	display: inline-block;
	text-align: center;
	transition: .2s;
}

.page-calculator .green_button:hover {
	opacity: .7;
}


.panel_left {
	display: inline-block;
	width: 185px;
	vertical-align: top;
	padding-bottom: 10px;
	border-bottom: 1px solid #b2b2b2;
	height: 135px;
}

.panel_right {
	display: inline-block;
	width: 100px;
	border-left: 1px solid #b2b2b2;
	text-align: right;
	vertical-align: top;
	padding-bottom: 10px;
	border-bottom: 1px solid #b2b2b2;
	height: 135px;
}

.panel_left h4,
.panel_right h4 {
	color: #24baa0;
	font-size: 2.3rem;
}

.panel_left span {
	margin-top: 10px;
	font-size: 2.2rem;
	color: #5b5a5a;
	display: block;
}

.panel_right span {
	display: block;
	font-size: 2.2rem;
	color: #24baa0;
	margin-top: 10px;
}

.sum_label {
	display: inline-block;
	width: 185px;
	margin-top: 10px;
	font-size: 2.2rem;
	color: #5b5a5a;
}

.sum {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-top: 10px;
	font-size: 2.2rem;
	color: #24baa0;
}

.list_arrow {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #24baa0;
	display: block;
	position: absolute;
	right: 14px;
	top: 20px;
	cursor: pointer;
}

.list_panel {
	background-color: #f5f6f4;
	border: 1px solid #ccc;
	width: 288px;
	padding-left: 15px;
	padding-bottom: 10px;
	list-style: none;
	margin: 0;
	left: 0px;
	z-index: 2;
	position: absolute;
	top: 54px;
	display: none;
}

.list_panel li {
	margin-top: 10px;
	cursor: pointer;
	color: #585858;
}

.title {
	height: 30px;
}

/*-------------------------------------------PAGE-SECTION-CONTACT-----------------------------------------*/

.page-section-contact {
	margin-top: 30px;
	background: #f1f1f1;
	padding: 35px 0;
}

.page-section-contact-col1 {
	padding: 50px 0;
	color: #989898;
}

.page-contact-form {
	display: flex;
	justify-content: flex-start;
}

.page-section-contact-col1 {
	width: 65%;
	margin-right: 5%;
}

.page-section-contact input,
.page-section-contact textarea {
	margin-bottom: 25px;
	width: 100%;
	padding: 10px;
	min-height: 60px;
	border: .1px solid #27c7ab;
}

.page-section-contact textarea {
	resize: none;
	min-height: 200px;
}

.page-section-contact input,
textarea {
	color: #989898;
	font-size: 2.1rem;
	font-weight: 300;
	font-family: "Raleway", Arial, sans-serif;
}

.page-section-contact-col2 {
	width: 30%;

}

.page-section-contact-col2 img {
	margin: 30px auto 30px;
	max-width: 100%;
	display: block;
}

.page-section-contact-col2 .check input[type="checkbox"] {
	display: none;
}

.page-section-contact-col2 .check input[type="checkbox"][type="checkbox"]:checked + label::before {
	background-image: url(../img/form_ok.jpg);
}

.page-section-contact-col2 .check label {
	color: #b1adad;
}

.page-section-contact-col2 .check label::before {
	content: "";
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	border: 1px solid #C1DED9;
	margin: 0 10px 40px 0;
}

.page-section-contact-col2 label {
	font-size: 1.6.rem;
	font-weight: 400;
	line-height: 18px;
}

.page-section-contact-col2 input[type=submit] {
	background-color: #27c7ab;
	color: #fff;
	font-size: 2.6rem;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	transition: .2s;
}

.page-section-contact-col2 input[type=submit]:hover {
	opacity: .7;
}

/*------------------------------------------------FOOTER--------------------------------------------------*/

footer {
	background: #f1f1f1;
}

footer > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.container > span {
	font-size: 1.6rem;
	font-weight: 500;
	color: #989898;
}

.page-footer-items {
	margin-left: 325px;
}

.page-footer-text {
	font-size: 1.8rem;
	font-weight: 500;
	color: #989898;
	text-transform: uppercase;
	word-spacing: 1px;
}

.page-footer-text > span {
	font-weight: 700;
}

/*************************************************MEDIA QUERY******************************************/

@media (max-width: 1024px) {
	html {
		font-size: 70%;
	}
	.box {
		margin: 25px 0 20px;
	}

	.box:last-child {
		text-align: center;
	}
	.box:nth-child(2) {
		margin-left: 20px;
		margin-right: 0;
	}

	.box:last-child {
		min-height: auto;
	}
	.box:last-child p {
		text-align: center;
	}
	.page-footer-items {
		margin-left: 0;
	}
	.box-offerts-circle {
		width: 110px;
		height: 110px;
	}
	.box-offerts-circle em {
		font-size: 3.0rem;
	}

	.box-offerts-circle em sup {
		font-size: 1.2rem;
	}

	.box-offerts-circle span {
		font-size: 1.2rem;
	}

	.box-offerts p {
		font-size: 1.8rem;
	}
}



@media (max-width: 768px) {
	#menu-icon {
		display: inline-block;
		margin-top: 5px;
		margin-right: 5px;
	}
	nav ul {
		display: none;
		z-index: 1000;
		position: absolute;
		right: 0;
		top: 48px;
		width: 100%;
		background: #000000;
	}
	nav ul a {
		font-size: 2.0rem;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.menu-items > li {
		margin: 0;
		border-top: 1px dashed #3f3f3f;
	}
	.menu-items li a {
		color: #27c7ab;
		transition: all 20s;
	}
	.firsta {
		height: 0;
		margin-bottom: 140px;
		color: #27c7ab;
	}
	nav:hover .menu-items {
		display: block;
		height: 50vh;
	}
	nav:hover .menu-items li {
		display: block;
		text-align: center;
	}
	nav:hover .menu-items .submenu {
		display: block;
	}
	nav:hover .menu-items .submenu li {
		padding-bottom: 30px;
		height: 0;
		background: 0;
		padding-right: 30px;
	}
	.submenu {
		padding: 0;
	}
	.submenu > li a {
		font-weight: 300;
		font-size: 1.2rem;
		color: #fff;
	}
	.page-slider > .container {
		min-height: 100%;
	}
	.page-slider-arrow-left a {
		top: 30%
	}
	.page-slider-arrow-right a {
		top: 30%;
	}
	#page-slider-images {
		left: -10px;
		width: 55%;
	}
	.page-slider-text {
		left: -50px;
	}
	.page-slider-text h1 {
		font-size: 1.8rem;
	}
	.page-slider-text p {
		font-size: 1.2rem;
	}
	.page-slider-button {
		font-size: 1.2rem;
	}
	.box {
		margin: 25px 0 0;
	}
	.page-section-offerts a {
		font-size: 1.4rem;
	}
	.box-offerts p {
		font-size: 1.5rem;
	}
	.page-calculator > .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.inline {
		width: 100%;
	}
	.form {
		padding: 0 20px 0 20px;
	}
	.drop_down_list {
		width: 95%;
		height: 30px;
	}
	.summary_panel {}

	.sum_label {
		font-size: 1.8rem;
	}
	.page-section-contact-col2 input[type=submit] {
		font-size: 2.2rem;
		font-weight: 500;
	}

	.page-contact-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.page-section-contact-col1 {
		width: 100%;
		padding: 50px 20px 0 20px;
		margin: 0;
	}
	.page-section-contact-col2 {
		width: 60%;
		padding: 0 20px 0 20px;
		text-align: center;
	}
	.page-section-contact-col2 img {
		display: none;
	}

	footer > .container {
		display: flex;
		flex-direction: column;
		padding: 15px 0 0 5px;
	}

	footer > .container span {
		font-size: 1.2rem;
		padding-bottom: 10px;
	}

	footer > .container p {
		font-size: 1.2rem;
		padding-bottom: 10px;
	}


}



@media (max-width: 500px) {
	.page-slider > .container {
		min-height: 100%;
		padding-top: 20px;
	}
	.page-slider-arrow-left a {
		font-size: 4rem;
		top: 40%;
	}
	.page-slider-arrow-right a {
		font-size: 4rem;
		top: 40%;
	}
	#page-slider-images {
		left: -10px;
		width: 50%;
	}
	.page-slider-text {
		left: -35px;
	}
	.page-slider-text h1 {
		font-size: 1.2rem;
	}
	.page-slider-text p {
		font-size: 1rem;
		line-height: normal;
		padding: 10px 0px 20px 0px;
	}
	.page-slider-button {
		font-size: .8rem;
	}
	.box {
		background-position: center;
		margin: 0;
	}
	.box:first-child {
		margin: 0;
	}
	.box:nth-child(2) {
		margin: 0;
	}

	.page-section-offerts h4 {
		font-size: 1.2rem;
	}

	.page-section-offerts a {
		font-size: 1rem;
	}
	.box-offerts-circle {
		width: 70px;
		height: 70px;
		padding-top: 15px;
	}
	.box-offerts-circle em {
		font-size: 1.4rem;
	}

	.box-offerts-circle em sup {
		font-size: 1.2rem;
	}

	.box-offerts-circle span {
		font-size: 1rem;
	}

	.box-offerts p {
		font-size: 1.4rem;
	}
}



@media (max-width: 375px) {
	.page-slider-arrow-left a {
		font-size: 4rem;
		top: 40%;
	}
	.page-slider-arrow-right a {
		font-size: 4rem;
		top: 40%;
	}
	#page-slider-images {
		left: 0px;
		width: 45%;
	}
	.page-slider-text {
		left: -20px;
	}
	.page-slider-text h1 {
		font-size: 1.2rem;
	}
	.page-slider-text p {
		font-size: .8rem;
		line-height: normal;
	}
	.page-slider-button {
		font-size: .8rem;
	}
	.page-section-offerts h4 {
		font-size: 1rem;
	}
}


@media (max-width: 768px) and (orientation: landscape) {
	nav:hover .menu-items {
		display: block;
		height: 75vh;
	}
}
