body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.container {
	max-width: 1056px;
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.page-section-header {
	position: relative;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 500;
}

.page-section-header:after {
	content: '';
	position: absolute;
	width: 320px;
	height: 7px;
	left: 0;
	bottom: -10px;
	background-color: #25c5a9;
}

/*----------------------------------------------PAGE-HEADER-----------------------------------------------*/

.page-header {
	background: #000;
	color: #fff;
}

.page-header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.page-header span {
	color: #24BAA0;
	font-weight: bolder;
}

/* MENU */

.menu-items li {
	display: inline-block;
	padding: 10px;
	margin-left: 20px;
}

.menu-items li a {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	transition: .2s;
}

.menu-items li a:hover {
	color: #24BAA0;
}

/* SUBMENU */

.submenu {
	position: absolute;
	min-width: 100px;
	padding-top: 20px;
	z-index: 2;
	margin-left: -36px;
	text-align: center;
	display: none;
}

.submenu > li:first-child {
	position: relative;
}

.submenu > li:first-child::before {
	content: '';
	position: absolute;
	top: -7px;
	margin-left: 28px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #000;
}

.menu > li:hover .submenu {
	display: block;
}

.submenu > li {
	display: block;
	background: #000;
	text-transform: none;
	padding: 6px 10px;
	transition: all .2s ease-in-out;
}

.submenu > li:hover {
	background: #363636;
}

.submenu > li a {
	font-weight: 300;
}


/*
show submenu - simple way only css without js
.menu-items > li:hover > ul {
	display: block;
}
*/

/*----------------------------------------------PAGE-SLIDER-----------------------------------------------*/

.page-slider {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+57,e4e2e7+79,d1ced7+98,c5c7ce+100 */
	background: #f7f7f7;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c5c7ce', GradientType=0);
	/* IE6-9 */
}

.page-slider > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	position: relative;

}

#page-slider-images {
	position: relative;
	left: -50px;
}

.page-slider-text {
	text-align: center;
	width: 40%;
	position: relative;
	left: -50px;
	margin-bottom: 30px;
}

.page-slider-text h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;

}

.page-slider-text span {
	font-weight: 800;
	color: #24BAA0;
}

.page-slider-text p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	word-spacing: 3px;
	padding: 15px 0px 30px 0px;

}

.page-slider-button {
	text-transform: uppercase;
	background-color: #24BAA0;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	padding: 8px 24px;
	word-spacing: 3px;
	transition: .2s;
}

.page-slider-button:hover {
	opacity: .7;
}

.page-slider-arrow-left a {
	position: absolute;
	left: 15px;
	top: 180px;
	font-size: 60px;
	font-weight: 300;
	color: #24BAA0;
}

.page-slider-arrow-right a {
	position: absolute;
	right: 15px;
	top: 180px;
	font-size: 60px;
	font-weight: 300;
	color: #24BAA0;
}


/*----------------------------------------------PAGE-GALLERY----------------------------------------------*/

.page-gallery > .container {
	display: flex;
	justify-content: center;
}

.box {
	width: 32%;
	min-height: 227px;
	margin: 25px 0 60px;
	position: relative;
	background-size: cover;
}

.box:first-child {
	background-image: url(../img/box1_img.jpg);
	margin-right: 20px;
}

.box:nth-child(2) {
	background-image: url(../img/box2_img.jpg);
	margin-right: 20px;
}

.box:last-child {
	border: 1px solid #dadada;
	padding: 20px;
}

.box > div {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .45);
	height: 65px;
	bottom: 15px;
	padding: 16px 16px 0 16px;
	transition: .3s;
}

.box span {
	position: relative;
	font-weight: 700;
	font-size: 15px;
}

.box span:after {
	content: '';
	background-color: #25c5a9;
	width: 130px;
	height: 6px;
	left: 0;
	bottom: -7px;
	position: absolute;
}

.box p {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	word-spacing: 1px;
	text-align: justify;
	margin-top: 25px;
}

/* simple way to hide text on photos with transition without js*/

.box:hover > div {
	opacity: 0;
}

/*------------------------------------------PAGE-SECTION-OFFERTS------------------------------------------*/

.page-section-offerts {
	background-color: #f1f1f1;
	padding: 35px 0;
	height: 725px;
}

.page-section-offerts > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.box-offerts {
	height: 500px;
	width: 32%;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	position: relative;
	text-align: center;
	margin: 120px 20px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.box-offerts:last-child {
	margin-right: 0px;
}

.box-offerts:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: -28px;
	margin-left: -25px;
	border: 1px solid #bdbdbd;
	background: #fff;
	border-radius: 50%;
}

.box-offerts:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 50%;
	top: -15px;
	margin-left: -12px;
	background: #bdbdbd;
	border-radius: 50%;
}

/*page-section-header \/ */

.page-section-offerts h3 {
	position: absolute;
	text-transform: uppercase;
	font-size: 18px;
	top: 30px;
	left: 0;
}

.page-section-offerts h4 {
	text-transform: uppercase;
	font-size: 20px;
	color: #25c5a9;
	margin-top: 30px;
}

.box-offerts-circle {
	background: #fff;
	width: 130px;
	height: 130px;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	padding-top: 25px;
	margin: 30px 0 35px 0;
}

.box-offerts-circle em {
	color: #bdbdbd;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
}

.box-offerts-circle em sup {
	font-size: 14px;
	vertical-align: super;
	font-weight: 700;
}

.box-offerts-circle span {
	color: #bdbdbd;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.box-offerts p {
	background: #e4e4e4;
	color: #919191;
	font-size: 20px;
	padding: 10px;
	width: 99.9%;

}

.box-offerts p:nth-child(even) {
	background: #f1f1f1;
	color: #777777;
}

.box-offerts a {
	background-color: #24ba9f;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 5px 20px;
	color: #fff;
	position: absolute;
	bottom: 20px;
}

.page-section-offerts *,
.box-offerts:before,
.box-offerts:after {
	transition: all .3s ease-in-out;
}

/*--------------------------------------Hover effect on .box-offerts-------------------------------------*/

.box-offerts:hover,
.box-offerts:hover::before {
	background: #27c7ab;
	border: .5px solid #27c7ab;
}

.box-offerts:hover::after,
.box-offerts:hover a {
	background: #fff;
	color: #24ba9f;
}

.box-offerts:hover h4 {
	color: #fff;
}

.box-offerts:hover .box-offerts-circle em {
	color: #27c7ab;
}

.box-offerts:hover .box-offerts-circle span {
	color: #27c7ab;
}

.box-offerts:hover p {
	background: #fff;
	color: #777777;
}

.box-offerts:hover p:nth-child(even) {
	background: #f1f1f1;
	color: #777777;
}


/*-------------------------------------------PAGE-SECTION-CONTACT-----------------------------------------*/

.page-section-contact {
	margin-top: 30px;
}

.page-section-contact-col1 {
	padding: 50px 0;
	color: #989898;
}

.page-contact-form {
	display: flex;
	justify-content: flex-start;
}

.page-section-contact-col1 {
	width: 65%;
	margin-right: 5%;
}

.page-section-contact input,
.page-section-contact textarea {
	margin-bottom: 25px;
	width: 100%;
	padding: 10px;
	min-height: 60px;
	border: .1px solid #27c7ab;
}

.page-section-contact textarea {
	resize: none;
	min-height: 200px;
}

.page-section-contact input,
textarea {
	color: #989898;
	font-size: 21px;
	font-weight: 300;
	font-family: "Raleway", Arial, sans-serif;
}

.page-section-contact-col2 {
	width: 30%;

}

.page-section-contact-col2 img {
	margin: 30px auto 30px;
	max-width: 100%;
	display: block;
}

.page-section-contact-col2 .check input[type="checkbox"] {
	display: none;
}

.page-section-contact-col2 .check input[type="checkbox"][type="checkbox"]:checked + label::before {
	background-image: url(../img/form_ok.jpg);
}

.page-section-contact-col2 .check label {
	color: #b1adad;
}

.page-section-contact-col2 .check label::before {
	content: "";
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	border: 1px solid #C1DED9;
	margin: 0 10px 40px 0;
}

.page-section-contact-col2 label {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.page-section-contact-col2 input[type=submit] {
	background-color: #24ba9f;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	transition: .2s;
}

.page-section-contact-col2 input[type=submit]:hover {
	opacity: .7;
}

/*------------------------------------------------FOOTER--------------------------------------------------*/

footer > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.container > span {
	font-size: 16px;
	font-weight: 500;
	color: #989898;
}

.page-footer-items {
	margin-left: 325px;
}

.page-footer-text {
	font-size: 18px;
	font-weight: 500;
	color: #989898;
	text-transform: uppercase;
	word-spacing: 1px;
}

.page-footer-text > span {
	font-weight: 700;
}
