body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}


/*----------------------------------------------CONTAINER-------------------------------------------------*/

.container {
	max-width: 1056px;
	width: 100%;
	margin: 0 auto;
}

/*----------------------------------------------PAGE-HEADER-----------------------------------------------*/

.page-header {
	background: #000;
	color: white;
	font-size: 14px;

}

.page-header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.page-header span {
	color: #24BAA0;
	font-weight: bolder;
}

/*------------------------------------------------MENU----------------------------------------------------*/

.menu-items li {
	display: inline-block;
	padding: 10px;
	margin-left: 10px;
}

.menu-items li a {
	display: inline-block;
	color: white;
	font-weight: 600;
}

a {
	text-decoration: none;
}


/*----------------------------------------------PAGE-SLIDER-----------------------------------------------*/

.page-slider {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+57,e4e2e7+79,d1ced7+98,c5c7ce+100 */
	background: #f7f7f7;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 57%, #e4e2e7 79%, #d1ced7 98%, #c5c7ce 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c5c7ce', GradientType=0);
	/* IE6-9 */
}

.page-slider > .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	position: relative;

}

#page-slider-images {
	position: relative;
	left: -50px;
}

.page-slider-text {
	text-align: center;
	width: 40%;
	position: relative;
	left: -50px;
	margin-bottom: 30px;
}

.page-slider-text h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;

}

.page-slider-text span {
	font-weight: 800;
	color: #24BAA0;
}

.page-slider-text p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	word-spacing: 3px;
	padding: 15px 0px 30px 0px;

}

.page-slider-button {
	text-transform: uppercase;
	background-color: #24BAA0;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	padding: 8px 24px;
	word-spacing: 3px;
}

.page-slider-arrow-left a {
	position: absolute;
	left: 15px;
	top: 180px;
	font-size: 60px;
	font-weight: 300;
	color: #24BAA0;
}

.page-slider-arrow-right a {
	position: absolute;
	right: 15px;
	top: 180px;
	font-size: 60px;
	font-weight: 300;
	color: #24BAA0;
}


/*----------------------------------------------PAGE-GALLERY----------------------------------------------*/

.page-gallery > .container {
	display: flex;
	justify-content: center;
}

.box {
	width: 32%;
	min-height: 227px;
	margin: 25px 0 60px;
	position: relative;
	background-size: cover;
}

.box:first-child {
	background-image: url(../img/box1_img.jpg);
	margin-right: 20px;

}

.box:nth-child(2) {
	background-image: url(../img/box2_img.jpg);
	margin-right: 20px;

}

.box:last-child {
	border: 1px solid #dadada;
	padding: 20px;

}

.box > div {
	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, .45);
	height: 65px;
	bottom: 15px;
	padding: 16px 16px 0 16px;
}

.box span {
	position: relative;
	font-weight: 700;
	font-size: 15px;

}

.box span:after {
	content: '';
	background-color: #25c5a9;
	width: 130px;
	height: 6px;
	left: 0;
	bottom: -7px;
	position: absolute;
}

.box p {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	word-spacing: 1px;
	text-align: justify;
	margin-top: 25px;
}
